* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:250px;
    height:250px;
    transition:all 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
.client_nav{
    font-size: 15px;
    color:white;
    margin-left:200px;
    text-align: center;
    background-color: black;
    margin: auto;
    padding:20px;
}
.cards{
   display: grid;
   grid-template-columns: auto auto;
   margin-left:240px;
   padding:20px;

}
.card-description{
    display: flex;
    /* align-items:flex-start; */
    flex-direction: column;
    font-size: 20px;
    padding:20px;
    /* flex-wrap: nowrap; */
}
.clientss{
    display: grid;
    grid-template-columns: auto auto;
}
